h1 {{words}}

form#loginForm(method='POST', action='/user/login')
  .formfield
    .formfield--prompt Username:   
      input#username(type='text', name='username')    
    .formfield
      .formfield--prompt Password:
      input#password(type='password', name='password')
    button.submit.Button.btn.btn-warning(type='button submit', role='button') Submit