h1.the-heading {{words}}

.login-holder
  form#loginForm(method='POST', action='/user/login')
    .formfield
      .formfield--prompt Username <br />  
        input#username(type='text', name='username')    
      .formfield
        .formfield--prompt Password <br />
        input#password(type='password', name='password')
      button.submit.Button.btn.btn-warning(type='button submit', role='button') Submit