h1.the-heading {{words}}

.login-holder
  form#loginForm(method='POST', action='/user/register')
    .formfield
      .formfield--prompt Username <br />       
        input#username(type='text', name='username')      
      .formfield
        .formfield--prompt Password <br />
          input#password(type='password', name='password')
      input.submitButton.btn.btn-warning(type='submit')