h1 {{words}}

h1 Register to create tasks     
  form#registerForm(method='POST', action='/user/register')
    .formfield
      .formfield--prompt Username:        
        input#username(type='text', name='username')      
      .formfield
        .formfield--prompt Password:  
          input#password(type='password', name='password')
      input.submitButton(type='submit')