extends layout

block body
  div(ng-controller='AppCtrl')
    h2.main-heading You want to do the things {{name}}
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2

    #wallpaper(ng-view)

    div
      | Angular seed app: v
      span(app-version)

    table.table
      tr
        td Doooo
        td the thinnnnngs
