/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  background-color: green;
}


/**********************
FORM ENTRY
**********************/

.content-here {
  background-color: white;
  height: 850px;
  padding-top: 100px;
}

.entering-data {
  padding: 30px;
  background-color: white;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #FEF8A0;
  color: #DC4C18;
}

.formfield {
  padding-bottom: 15px;
}

.check-space {
  padding-left: 10px;
}

input:focus {
  outline: none !important;
  border-color: #FF3823;
}