/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-image: url('../images/bluewallpaper.jpg');
  background-size: cover;  
}

.heading-holder {
  background-color: #004E63; opacity: 0.75; filter: alpha(opacity=75);
  max-width: 40%;
}


/**********************
SHARED
**********************/

.main-heading {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.the-heading {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}


/**********************
INDEX/LOGIN
**********************/

.login-holder {
  padding: 30px;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #004E63; opacity: 0.75; filter: alpha(opacity=75);
  color: white;
}


/**********************
FORM ENTRY
**********************/

.content-here {
  height: 850px;
  padding-top: 100px;
}

.entering-data {
  padding: 30px;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #004E63; opacity: 0.75; filter: alpha(opacity=75);
  color: white;
  margin-bottom: 50px;
}

.formfield {
  padding-bottom: 15px;
}

.check-space {
  padding-left: 10px;
}

input:focus {
  outline: none !important;
  border-color: #FF3823;
}

/**********************
LIST
**********************/

.listing-data {
  padding: 30px;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #004E63; opacity: 0.75; filter: alpha(opacity=75);
  color: white;
}