
/**********************
FORM ENTRY
**********************/

.content-here {
  background-color: white;
  height: 850px;
  padding-top: 100px;
}

.entering-data {
  padding: 30px;
  background-color: white;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #FEF8A0;
  color: #DC4C18;
  font-family: 'Roboto';
}

.formfield {
  padding-bottom: 15px;
}

.check-space {
  padding-left: 10px;
}

input:focus {
  outline: none !important;
  border-color: #FF3823;
}